---
import PageHeader from "@/components/core/PageHeader.astro";
import Base from "@/layouts/Base.astro";
import { getEntry } from "astro:content";

const entry = await getEntry("contact", "index");
---

<Base entry_keys={["contact", "index"]}>
  <section class="pb-6 pt-16">
    <div class="container"><PageHeader page_data={entry.data} /></div>
  </section>

  <section class="section pt-0">
    <div class="container">
      <div class="row">
        <div class="md:col-12 md:order-1 grid place-content-center">
          <form
            class="lg:max-w-[484px]"
            method="POST"
            name="contact"
            data-netlify="true"
            netlify-honeypot="bot-field"
          >
            <input type="hidden" name="form-name" value="contact" />
            <div style="display:none">
              <label>Don't fill this out if you're human: <input name="bot-field" /></label>
            </div>
            <div class="form-group mb-5">
              <label class="form-label" for="name">Imię i nazwisko</label>
              <input
                class="form-control"
                type="text"
                id="name"
                name="name"
                placeholder="Twoje imię i nazwisko"
                required
              />
            </div>
            <div class="form-group mb-5">
              <label class="form-label" for="email">Adres email</label>
              <input
                class="form-control"
                type="email"
                id="email"
                name="email"
                placeholder="Twój adres email"
                required
              />
            </div>
            <div class="form-group mb-5">
              <label class="form-label" for="reason">Powód kontaktu</label>
              <select name="reason" id="reason" class="form-select" required>
                <option value="">Wybierz powód kontaktu</option>
                <option value="hello">Chcę się przywitać</option>
                <option value="work-with-you"
                  >Chcę współpracować ze stowarzyszeniem</option
                >
                <option value="work-for-me"
                  >Chcę nawiązać współpracę biznesową</option
                >
                <option value="investment"
                  >Mam projekt, który chcę omówić</option
                >
                <option value="other">Inny powód</option>
              </select>
            </div>
            <div class="form-group mb-5">
              <label class="form-label" for="message">Treść wiadomości</label>
              <textarea
                class="form-control h-[150px]"
                id="message"
                name="message"
                cols="30"
                rows="10"
                required></textarea>
            </div>
            <input
              class="btn-primary block w-full"
              type="submit"
              value="Wyślij wiadomość"
            />
          </form>
        </div>
      </div>
    </div>
  </section>
</Base>
