---
import Base from "@/layouts/Base.astro";
import { getEntryBySlug } from "astro:content";

const about = await getEntryBySlug("about", "o-nas");
const { Content } = await about.render();
---

<Base entry_keys={["about", "o-nas"]}>
  <section class="section">
    <div class="container bg-surface/50 dark:bg-surface/30 backdrop-blur-md rounded-lg shadow-lg p-8 border border-primary/10 dark:border-primary/5">
      <div class="row justify-center">
        <div class="mb-10 text-center md:col-10 lg:col-8 xl:col-7">
          <h1 class="mb-4">{about.data.title}</h1>
          {
            about.data.description && (
              <p class="text-lg">{about.data.description}</p>
            )
          }
        </div>
        <div class="lg:col-10 xl:col-9">
          <div class="prose max-w-none">
            <Content />
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>