---
import Base from "@/layouts/Base.astro";
---

<Base>
  <section class="section">
    <div class="container">
      <div class="mx-auto max-w-[768px] text-center">
        <h1 class="mb-5">Dziękujemy za wiadomość!</h1>
        <p class="mb-8 text-lg">
          Otrzymaliśmy Twoją wiadomość i odpowiemy na nią najszybciej jak to możliwe. Dziękujemy za skontaktowanie się z Polskim Stowarzyszeniem Edukacji Konopnej.
        </p>
        <a href="/" class="btn-primary">Wróć na stronę główną</a>
      </div>
    </div>
  </section>
</Base>